
form {
    width: 70rem;
    margin: 6.4rem auto;
    background: white;
    border: 1px solid rgb(241, 176, 198);
    border-radius: 2rem;
    overflow: hidden;
    padding: 8rem;
}
fieldset {
    border: 0;
        
}


fieldset + fieldset{
    margin-top: 5rem;
}
fieldset legend {
    width: 100%;
    font-size: 3.2rem;
    line-height: 1.5;
    color:rgb(77, 77, 77);
    font-weight: 700;
    padding-bottom: 2.4rem;
}
.input-block +.input-block {
    margin-top: 2.4rem;

}
.input-block label {
    color: rgb(77, 77, 77);
    margin-bottom: .8rem;
    line-height: 1.5;
}
.input-block label span {
    font-size: 1.4rem;
    color:rgb(77, 77, 77);
    margin-left: 2.4rem;
    line-height: 1.5;
}
.input-block input,
.input-block textarea {
    width: 100%;
    background: #f5edf4;
    border: 1px solid rgb(241, 176, 198);
    border-radius: 1rem;
    color:rgb(29, 29, 29);
    outline: none;
}

.input-block input:focus,
.input-block textarea:focus {
    border: 2px solid rgb(219, 95, 137);
}

.input-block input {
    height: 6.4rem;
    padding: 0 1.6rem;
}
.input-block input:valid,
.input-block textarea:valid {
    border:rgb(219, 95, 137) ;
}
.input-block textarea {
    height: clamp (12rem, 16rem, 24rem);
    resize: vertical;
    padding: 1.6rem;
    line-height: 2.8rem;
}

.input-block.images button {
    border: 1px dashed rgb(241, 176, 198);
    width: 100%;
    background: #f5edf4;
    height: 6.4rem;
    padding: 0 1.6rem;
    margin-top: 2.4rem;
    border-radius: 2rem;
    cursor: pointer;
}
.new-upload {
    position: relative;

}
.new-upload span {
    position: absolute;
    right: 16px;
    bottom: 16px;
    cursor: pointer;

}
.new-upload span:hover {
        border: 1px solid rgb(219, 95, 137);
        border-radius: 10px;
}
.new-upload + .new-upload {
    margin-top: 2.4rem;
}
