<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Art Place</title>

        <link rel="icon" href="/images/logo-icon.png">
        <link rel="stylesheet" href="/CSS/main.css">
        <link rel="stylesheet" href="/CSS/animations.css">
        <link rel="stylesheet" href="/CSS/page-landing.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,800&display=swap" rel="stylesheet">
    </head>
    <body id="body">
      <div id="page-landing">
          <div id="container">
            <header>
                <img class="animate-up" id="logo" src="/images/logo.png" alt="Logo ArtPlace">
                <div class="location animate-up">
                    <strong>Londrina</strong>
                    <p>Paraná</p>
                </div>
            </header>
            <main>
                <h1 class="animate-up">Valorize o trabalho artesanal de sua cidade!</h1>
                <section class="visit">
                    <p class="animate-up">Conheça os produtos handmade de sua região</p>
                    <a id="demo"class="animate-up" href="/localizacao" title="Visite os artesãos" onclick="getLocation()">
                      
                        <img src="/images/arrow.svg" alt="Ir para o mapa">
                    </a>
                    
                </section>
            </main>
          </div>
      </div>
      <script src="/scripts/index.js">

      </script>
    </body>

</html>